#header{
    margin :0px;
    height: 200px;
    // background-color: red;
    // background: url(../../../../assets/images/slider3.jpg);
    // background-repeat: no-repeat;
    width:100%;
    position: relative;
}
#responsive-image {  
    width: 100%;  
    height: 200px; 
    object-fit: fill;
    position: relative;
} 
#gif{
    width: 130px;  
    height: 135px; 
    position: absolute;
    top: 30px;
    left: 1300px;
    
    
}
$topnav-background-color: #0d385b;
:host {
    .navbar {
        
        position: relative;
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item>a {
            color: #fff;
            &:hover {
                color: #02bfe7;
            }
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}