<body>
    <div class="jumbotron">
        <form [formGroup]="page8Form" >
       <h3>Implementation Information</h3><br>
    <h4>Progress Monitoring
      <br>
    </h4>
    
      <div class="form-group " >
        <label for="GON"  >GON Share : </label> 
        <input type="number" class=" form-control" id="GON" formControlName="GON">
        <span *ngIf="!page8Form.get('GON').valid && page8Form.get('GON').touched">
            <span *ngIf="page8Form.get('GON').valid">Only Numbers Allowed.</span>
            <span *ngIf="page8Form.get('GON').touched">Please Enter Valid Amount of Share In NRS</span>
          </span> 
      
      <div class="form-group">
        <label for="WUA"class="ml-5">WUA Share:</label>
        <input type="number" class="form-control" id="WUA" formControlName="WUA">
        <span *ngIf="!page8Form.get('WUA').valid && page8Form.get('WUA').touched">
          <span *ngIf="page8Form.get('WUA').valid">Only Numbers Allowed.</span>
          <span *ngIf="page8Form.get('WUA').touched">Please Enter Valid Amount of Share In NRS</span>
        </span> 
      </div></div> 
      
     
       
      <div class="form-group">
        <label for="comment">Physical Progress:</label>
        <textarea class="form-control"cols="60"  rows="3" id="comment"></textarea>
      </div>  
    
       
        <div class="form-group " >
          <label for="GON"  >Physical Progress Date : </label> 
          <input type="text" class=" form-control " id="GON"> AD </div> 
    
           
            <div class="form-group">
              <label for="comment">Finiancial Progress</label>
              <textarea class="form-control"cols="60"  rows="3" id="comment"></textarea>
            </div>  
    
             
              <div class="form-group " >
                <label for="GON"  >Finiancial Progress Date: </label> 
                <input type="text" class=" form-control " id="GON"> AD </div> 
                <hr>
                <h4>Institutional Monitoring
                  <br>
                </h4>
                 
                  <div class="form-group">
                    <label for="comment">WUA Development Office
                      (Name,No of WUA Members):</label>
                    <textarea class="form-control"cols="60"  rows="3" id="comment"></textarea>
                  </div>  
                   
                    <div class="form-group " >
                      <label for="GON"  >WUA Registration Date : </label> 
                      <input type="text" class=" form-control " id="GON"> AD </div> 
                      <hr>
    
                      <h4>WUA Training
                        <br>
                      </h4>
                       
                        <div class="form-group " >
                          <label for="GON"  >Training Name : </label> 
                          <input type="text" class=" form-control " id="GON"> 
                           
                            <div class="form-group " >
                              <label for="GON"  >Training Date : </label> 
                              <input type="text" class=" form-control " id="GON"> AD </div>
                             </div> 
    
                               
                                <div class="form-group " >
                                  <label for="GON"  >Training Period : </label> 
                                  <input type="text" class=" form-control " id="GON"> 
                                   
                                    <div class="form-group " >
                                      <label for="GON"  >No. Of Participants : </label> 
                                      <input type="text" class=" form-control " id="GON"> </div> 
                                      </div> 
                                      <button type="Submit" class="btn btn-outline-success mr-2">Add</button>  
                <button type="Reset" class="btn btn-outline-danger">Cancel</button>
    <hr>
                
                                
                      <div class="row">
                        <div class="col">Training Name</div>
                        <div class="col">Training Date</div>
                        <div class="col">Training Period</div>
                        <div class="col">No. of Participants</div>
                        <div class="w-100"></div>
                        <div class="col">1</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="w-100"></div>
                        <div class="col">2</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="w-100"></div>
                        <div class="col">3</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="w-100"></div>
                        <div class="col">4</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        <div class="col">Column</div>
                        </div>
                        <br>
                        
           
    <hr>
                <button type="Submit" class="btn btn-outline-success mr-2">Save</button>  
                <button type="Submit" class="btn btn-outline-warning mr-2">Reset</button>  
                <button type="Reset" class="btn btn-outline-danger">Cancel</button>
  
    
       