<form [formGroup]="page4Form">
  <div class="jumbotron">

    <fieldset>
    <fieldset>
      <legend class="col-md-3 col-form-label">Existing cropping pattern</legend>
      <div class="form-group row">
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Crop name:</label>
        </div>
        <div class="col-sm-2">
          <select class="form-control"> 
            <option>Paddy</option>
            <option>Paddy (monsoon)</option> 
            <option>Maize</option>
            <option>Pulse (legume)</option>
            <option>Oil seed</option>
            <option>Wheat</option>
            <option>Potato</option>
          </select>
        </div>
        <div class="col-sm-2">
        <label for="inputPassword"  class="col-form-label"></label>
        </div>
      </div>


        <div class="form-group row">
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Planting date:</label>
        </div>
        <div class="col-sm-2">
          <select class="form-control"> 
            <option>January</option>
            <option>February</option> 
            <option>March</option>
            <option>April</option> 
            <option>May</option>
            <option>June</option> 
            <option>July</option>
            <option>August</option> 
            <option>September</option>
            <option>October</option> 
            <option>November</option>
            <option>December</option> 
          </select>
        </div>
        <div class="col-sm-2">
        <label for="inputPassword" class="col-form-label"></label>
        </div>
        
        <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Planning week:</label>
          </div>
          <div class="col-sm-2">
            <select class="form-control"> 
              <option>First week</option>
              <option>Second week</option> 
              <option>Third week</option>
              <option>Fourth week</option> 
            </select>
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label"></label>
          </div>

     </div>

     <div class="form-group row">
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Crop area:</label>
        </div>
        <div class="col-sm-2">
            <input type="text" class="form-control">
        </div>
        <div class="col-sm-2">
        <label for="inputPassword"  class="col-form-label">ha</label>
        </div>
      </div>


        <div class="form-group row">
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Harvesting date:</label>
        </div>
        <div class="col-sm-2">
          <select class="form-control"> 
            <option>January</option>
            <option>February</option> 
            <option>March</option>
            <option>April</option> 
            <option>May</option>
            <option>June</option> 
            <option>July</option>
            <option>August</option> 
            <option>September</option>
            <option>October</option> 
            <option>November</option>
            <option>December</option> 
          </select>
        </div>
        <div class="col-sm-2">
        <label for="inputPassword" class="col-form-label"></label>
        </div>
        
        <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Harvesting week:</label>
          </div>
          <div class="col-sm-2">
            <select class="form-control"> 
              <option>First week</option>
              <option>Second week</option> 
              <option>Third week</option>
              <option>Fourth week</option> 
            </select>
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label"></label>
          </div>

     </div>

   <div class="form-group row">
    <div class="col-sm-2">
    <label for="inputPassword" class="col-sm-auto col-form-label">Average crop yield:</label>
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control">
    </div>
  
    <div class="col-sm-2">
    <label for="inputPassword"  class="col-form-label">Ton/ha</label>
    </div>
   </div>

   <fieldset>
      <legend class="col-md-2 col-form-label">Average farm input</legend>
      <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Seed:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
          </div>
          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label">kg/ha</label>
          </div>

          
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">DAP:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" >
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label">kg/ha</label>
          </div>
       </div>

       <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Human labour:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
          </div>

          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label">md/ha</label>
          </div>

          
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Organic manure:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" >
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label">NRs/ha</label>
          </div>
       </div>

       <div class="form-group row">
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Potash:</label>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control">
        </div>

        <div class="col-sm-2">
        <label for="inputPassword"  class="col-form-label">kg/ha</label>
        </div>

        
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Animal labour:</label>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" >
        </div>
        <div class="col-sm-2">
        <label for="inputPassword" class="col-form-label">md/ha</label>
        </div>
     </div>

     <div class="form-group row">
      <div class="col-sm-2">
      <label for="inputPassword" class="col-sm-auto col-form-label">Urea:</label>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control">
      </div>

      <div class="col-sm-2">
      <label for="inputPassword"  class="col-form-label">kg/ha</label>
      </div>

      
      <div class="col-sm-2">
      <label for="inputPassword" class="col-sm-auto col-form-label">Machine labour:</label>
      </div>
      <div class="col-sm-2">
        <input type="text" class="form-control" >
      </div>
      <div class="col-sm-2">
      <label for="inputPassword" class="col-form-label">md/ha</label>
      </div>
   </div>
   </fieldset>

   <br>

   <div class="btn-toolbar">
    <div>
      <button class="btn btn-success ml-2 mr-4" type="button" >Add</button>
      <button class="btn btn-danger " type="button" >Cancel</button>
      </div>
  </div>

  </fieldset>

  <br>
  <br>

  <div class="card-body table-responsive">
    <table class="table table-hover table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Crop name:</th>
          <th scope="col">Crop area:</th>
          <th scope="col">Avg. crop yield:(ton/ha)</th>
          <th scope="col">Planting date</th>
          <th scope="col">Harvesing date</th>
          <th scope="col">Seed(kg/gm)</th>
          <th scope="col">DAP(kg/ha)</th>
          <th scope="col">Human labour(md/ha)</th>
          <th scope="col">Organic manure(NRs/ha)</th>
          <th scope="col">Potash(kg/ha)</th>
          <th scope="col">Animal labour(md/ha)</th>
          <th scope="col">Uread(kg/ha)</th>
          <th scope="col">Machine labour(md/ha)</th>

        </tr>
        </thead>
         <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>6</td>

            
    
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
                          
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
            
            
          </tr>
          <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>
          
            
          </tr>
        </tbody>
    </table>
    </div>

    <br>
    <br>
    <br>

    <fieldset>
        <legend class="col-md-3 col-form-label">Proposed cropping pattern</legend>
        <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Crop name:</label>
          </div>
          <div class="col-sm-2">
            <select class="form-control"> 
              <option>Paddy</option>
              <option>Paddy (monsoon)</option> 
              <option>Maize</option>
              <option>Pulse (legume)</option>
              <option>Oil seed</option>
              <option>Wheat</option>
              <option>Potato</option>
            </select>
          </div>
          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label"></label>
          </div>
        </div>


          <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Planting date:</label>
          </div>
          <div class="col-sm-2">
            <select class="form-control"> 
              <option>January</option>
              <option>February</option> 
              <option>March</option>
              <option>April</option> 
              <option>May</option>
              <option>June</option> 
              <option>July</option>
              <option>August</option> 
              <option>September</option>
              <option>October</option> 
              <option>November</option>
              <option>December</option> 
            </select>
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label"></label>
          </div>
          
          <div class="col-sm-2">
            <label for="inputPassword" class="col-sm-auto col-form-label">Planning week:</label>
            </div>
            <div class="col-sm-2">
              <select class="form-control"> 
                <option>First week</option>
                <option>Second week</option> 
                <option>Third week</option>
                <option>Fourth week</option> 
              </select>
            </div>
            <div class="col-sm-2">
            <label for="inputPassword" class="col-form-label"></label>
            </div>

       </div>

       <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Crop area:</label>
          </div>
          <div class="col-sm-2">
              <input type="text" class="form-control">
          </div>
          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label">ha</label>
          </div>
        </div>


          <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Harvesting date:</label>
          </div>
          <div class="col-sm-2">
            <select class="form-control"> 
              <option>January</option>
              <option>February</option> 
              <option>March</option>
              <option>April</option> 
              <option>May</option>
              <option>June</option> 
              <option>July</option>
              <option>August</option> 
              <option>September</option>
              <option>October</option> 
              <option>November</option>
              <option>December</option> 
            </select>
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label"></label>
          </div>
          
          <div class="col-sm-2">
            <label for="inputPassword" class="col-sm-auto col-form-label">Harvesting week:</label>
            </div>
            <div class="col-sm-2">
              <select class="form-control"> 
                <option>First week</option>
                <option>Second week</option> 
                <option>Third week</option>
                <option>Fourth week</option> 
              </select>
            </div>
            <div class="col-sm-2">
            <label for="inputPassword" class="col-form-label"></label>
            </div>

       </div>

     <div class="form-group row">
      <div class="col-sm-2">
      <label for="inputPassword" class="col-sm-auto col-form-label">Average crop yield:</label>
      </div>
      <div class="col-sm-2">
          <input type="text" class="form-control">
      </div>
    
      <div class="col-sm-2">
      <label for="inputPassword"  class="col-form-label">Ton/ha</label>
      </div>
     </div>

     <fieldset>
        <legend class="col-md-2 col-form-label">Average farm input</legend>
        <div class="form-group row">
            <div class="col-sm-2">
            <label for="inputPassword" class="col-sm-auto col-form-label">Seed:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control">
            </div>
            <div class="col-sm-2">
            <label for="inputPassword"  class="col-form-label">kg/ha</label>
            </div>

            
            <div class="col-sm-2">
            <label for="inputPassword" class="col-sm-auto col-form-label">DAP:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" >
            </div>
            <div class="col-sm-2">
            <label for="inputPassword" class="col-form-label">kg/ha</label>
            </div>
         </div>

         <div class="form-group row">
            <div class="col-sm-2">
            <label for="inputPassword" class="col-sm-auto col-form-label">Human labour:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control">
            </div>

            <div class="col-sm-2">
            <label for="inputPassword"  class="col-form-label">md/ha</label>
            </div>

            
            <div class="col-sm-2">
            <label for="inputPassword" class="col-sm-auto col-form-label">Organic manure:</label>
            </div>
            <div class="col-sm-2">
              <input type="text" class="form-control" >
            </div>
            <div class="col-sm-2">
            <label for="inputPassword" class="col-form-label">NRs/ha</label>
            </div>
         </div>
  
         <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Potash:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
          </div>

          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label">kg/ha</label>
          </div>

          
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Animal labour:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" >
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label">md/ha</label>
          </div>
       </div>

       <div class="form-group row">
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Urea:</label>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control">
        </div>

        <div class="col-sm-2">
        <label for="inputPassword"  class="col-form-label">kg/ha</label>
        </div>

        
        <div class="col-sm-2">
        <label for="inputPassword" class="col-sm-auto col-form-label">Machine labour:</label>
        </div>
        <div class="col-sm-2">
          <input type="text" class="form-control" >
        </div>
        <div class="col-sm-2">
        <label for="inputPassword" class="col-form-label">md/ha</label>
        </div>
     </div>
     </fieldset>

     <br>

     <div class="btn-toolbar">
      <div>
        <button class="btn btn-success ml-2 mr-4" type="button" >Add</button>
        <button class="btn btn-danger " type="button" >Cancel</button>
        </div>
    </div>

    </fieldset>

    <br>
    <br>

    <div class="card-body table-responsive">
      <table class="table table-hover table table-bordered table-striped">
        <thead>
          <tr>
            <th scope="col">Crop name:</th>
            <th scope="col">Crop area:</th>
            <th scope="col">Avg. crop yield:(ton/ha)</th>
            <th scope="col">Planting date</th>
            <th scope="col">Harvesing date</th>
            <th scope="col">Seed(kg/gm)</th>
            <th scope="col">DAP(kg/ha)</th>
            <th scope="col">Human labour(md/ha)</th>
            <th scope="col">Organic manure(NRs/ha)</th>
            <th scope="col">Potash(kg/ha)</th>
            <th scope="col">Animal labour(md/ha)</th>
            <th scope="col">Uread(kg/ha)</th>
            <th scope="col">Machine labour(md/ha)</th>

          </tr>
          </thead>
           <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>6</td>

              
      
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
                            
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
              
              
            </tr>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6</td>
            
              
            </tr>
          </tbody>
      </table>
      </div>

      <br>
      <br>

      <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto">Neareast agriculture extension office:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
          </div>
          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label"></label>
          </div>

          
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Distance:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" >
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label">km</label>
          </div>
       </div>

       <div class="form-group row">
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto">Neareast agrovet office:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control">
          </div>

          <div class="col-sm-2">
          <label for="inputPassword"  class="col-form-label"></label>
          </div>

          
          <div class="col-sm-2">
          <label for="inputPassword" class="col-sm-auto col-form-label">Distance:</label>
          </div>
          <div class="col-sm-2">
            <input type="text" class="form-control" >
          </div>
          <div class="col-sm-2">
          <label for="inputPassword" class="col-form-label">km</label>
          </div>
       </div>

    <br>
    <br>
    <div class="btn-toolbar">
      <div>
        <button class="btn btn-success ml-2 mr-4" type="save" >Save</button>
        <button class="btn btn-primary ml-2 mr-4" type="submit" >Submit</button>
        <button class="btn ml-2 mr-4" type="fetch">Fetch</button>
        <button class="btn btn-info ml-2 mr-4" type="edit">Edit</button>
        <button class="btn btn-warning ml-2 mr-4" type="reset" >Reset</button>
        <button class="btn btn-danger ml-2 mr-4" type="cancel" >Cancel</button>
        </div>
      </div>
  </fieldset>