<div id="home">
    <div class="jumbotron">
        <section>
            <h3> Well Information </h3>
            <br>
            <div class="form-row">
                <div class="col-md-6">
                    <label class="col-md-4 col-form-label">No. of wells:</label>
                    <input type="Text">
                </div>
            </div>
        </section>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Type of wells:</label>
                <select class="col-md-3">
              <option>Deep tubewell</option>
              <option>Option 1</option>
              <option>Option 2</option> 
            </select>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Well depth:</label>
                <input type="text">
                <label>m</label>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Tube well spacing:</label>
                <input type="text">
                <label>m</label>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Size of tubewells:</label>
                <input type="text">
                <label>inch</label>
            </div>
        </div>
        <br>
        <br>

        <h3>Topography, Geology and Hydrology of the Area </h3>
        <br>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-4 col-form-label"> Hydrological Description </label>

                <input type="text" class="form-control col-md-12">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-4 col-form-label"> Aquifer type </label>
                <input type="text" class="form-control col-md-12">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-12">
                <label class="col-md-4 col-form-label"> Aquifer materials</label>
                <input type="text" class="form-control col-md-12">
            </div>
        </div>
        <br>
        <h3>Distribution System</h3>
        <br>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Open channel system:</label>
                <select class="col-md-3"> 
              <option>Option 1</option>
              <option>Option 2</option> 
            </select>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">No. of branch channel:</label>
                <input type="text">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label"> Buried pipe system: </label>
                <select class="col-md-3"> 
              <option>Option 1</option>
              <option>Option 2</option> 
            </select>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Main channel length:</label>
                <input type="text">
                <label>km</label>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Outlets:</label>
                <input type="Text">
            </div>
        </div>

    </div>