<div id="home">
    <div class="jumbotron">
        <h3>Economic information</h3>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Total project cost:</label>
                <input type="text">
                <label>Nrs</label>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">B/C 1:</label>
                <input type="text">
                <label>(eg:2,3)</label>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Cositng year:</label>
                <input type="text" placeholder="2000">
                <label>AD</label>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Discount rate 1:</label>
                <input type="text">
                <label>%</label>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Eirr:</label>
                <input type="text">
                <label>%</label>
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">B/C 2:</label>
                <input type="text">
                <label>(eg:2,3)</label>
            </div>
        </div>
        <br>
        <div class="form-row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">
                <label class="col-md-4 col-form-label">Discount rate 2:</label>
                <input type="text">
                <label>%</label>
            </div>
        </div>
        <br>
        <div class="btn-toolbar">
            <div class="col-md-6">
                <button type="button" class="mr-4">Add</button>
                <button type="button">Cancel</button>
            </div>
        </div>
        <br>
        <br>
        <table sclass="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Project cost</th>
                    <th scope="col">Costing year</th>
                    <th scope="col">Eirr(%)</th>
                    <th scope="col">B/C 1</th>
                    <th scope="col">Discountrate 1(%)</th>
                    <th scope="col">B/C 2</th>
                    <th scope="col">Discount rate 2(%)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
            </tbody>

        </table>
        <br>
        <div class="btn-toolbar">
            <div class="col-md-6">
                <button type="button" class="mr-4">Save</button>
                <button type="button" class="mr-4">Reset</button>
                <button type="button">Cancel</button>
            </div>
        </div>
    </div>
</div>