<form [formGroup]="page7Form">
    <div class="jumbotron">
      <h3>Electronic information</h3>
      <br>
      <div class="form-row">
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">Total project cost:</label>
            <input type="text" formControlName="TPC">
            <label>Nrs</label>
            <br>
            <span
            *ngIf="!page7Form.get('TPC').valid && page7Form.get('TPC').touched"
            class="help-block">
            <span *ngIf="page7Form.get('TPC').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('TPC').errors['required']">This field is required!</span>
          </span>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">B/C 1:</label>
            <input type="text" formControlName="BC">
            <label>(eg:2,3)</label>
            <br>
            <span
            *ngIf="!page7Form.get('BC').valid && page7Form.get('BC').touched"
            class="help-block">
            <span *ngIf="page7Form.get('BC').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('BC').errors['required']">This field is required!</span>
          </span>
          </div>
      </div>
      <br>
      <div class="form-row">
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">Cositng year:</label>
            <input type="text" placeholder="2000" formControlName="CY">
            <label>AD</label>
            <br>
            <span
            *ngIf="!page7Form.get('CY').valid && page7Form.get('CY').touched"
            class="help-block">
            <span *ngIf="page7Form.get('CY').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('CY').errors['required']">This field is required!</span>
          </span>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">Discount rate 1:</label>
            <input type="text" formControlName="DR">
            <label>%</label>
            <br>
            <span
            *ngIf="!page7Form.get('DR').valid && page7Form.get('DR').touched"
            class="help-block">
            <span *ngIf="page7Form.get('DR').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('DR').errors['required']">This field is required!</span>
          </span>
          </div>
      </div>
      <br>
      <div class="form-row">
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">Eirr:</label>
            <input type="text" formControlName="ER">
            <label>%</label>
            <br>
            <span
            *ngIf="!page7Form.get('ER').valid && page7Form.get('ER').touched"
            class="help-block">
            <span *ngIf="page7Form.get('ER').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('ER').errors['required']">This field is required!</span>
          </span>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">B/C 2:</label>
            <input type="text" formControlName="BC1">
            <label>(eg:2,3)</label>
            <br>
            <span
            *ngIf="!page7Form.get('BC1').valid && page7Form.get('BC1').touched"
            class="help-block">
            <span *ngIf="page7Form.get('BC1').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('BC1').errors['required']">This field is required!</span>
          </span>
          </div>
      </div>
      <br>
      <div class="form-row">
          <div class="col-md-6">
          </div>
          <div class="col-md-6">
            <label class="col-md-4 col-form-label">Discount rate 2:</label>
            <input type="text" formControlName="DR1">
            <label>%</label>
            <br>
            <span
            *ngIf="!page7Form.get('DR1').valid && page7Form.get('DR1').touched"
            class="help-block">
            <span *ngIf="page7Form.get('DR1').errors['pattern']">This name is invalid! Please enter a valid number.</span>
            <span *ngIf="page7Form.get('DR1').errors['required']">This field is required!</span>
          </span>
          </div>
      </div>
      <br>
      <div class="btn-toolbar">
        <div class="col-md-6">
         <button type="button" class="mr-4">Add</button> 
         <button type="button">Cancel</button> 
        </div>
      </div>
      <br>
      <br>
      <table sclass="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Project cost</th>
            <th scope="col">Costing year</th>
            <th scope="col">Eirr(%)</th>
            <th scope="col">B/C 1</th>
            <th scope="col">Discountrate 1(%)</th>
            <th scope="col">B/C 2</th>
            <th scope="col">Discount rate 2(%)</th>
          </tr>
        </thead>
           <tbody>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
            <tr>
              <td>1</td>
              <td>2</td>
              <td>3</td>
              <td>4</td>
              <td>5</td>
              <td>6</td>
              <td>7</td>
              <td>8</td>
            </tr>
          </tbody>
      </table>
      <br>
      <div class="btn-toolbar">
        <div class="col-md-6">
         <button type="button" class="mr-4">Save</button> 
         <button type="button" class="mr-4">Reset</button> 
         <button type="button">Cancel</button> 
        </div>
      </div>
    </div>
    </form>
    