<div id="home">
  <div class="jumbotron">

    <h3>River Hydrology</h3>
    <form [formGroup]="myGroup" (ngSubmit)='onSubmit()'>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Catchement Area:</label>
        <div class="col-xs-10">
          <input type="number" class="form-control" formControlName="catchmentArea" >

            <span *ngIf="!myGroup.get('catchmentArea').valid && myGroup.get('catchmentArea').touched"  class="help-block">
              <span *ngIf="myGroup.get('catchmentArea').errors['pattern']">This is invalid! please enter number!</span>
              <span *ngIf="myGroup.get('catchmentArea').errors['required']">This field is required!</span>
            </span>

        </div>
        <label for="inputPassword"  class="ml-2">Km sq.</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label ">Longitudinal Slope of River at Headworks site:  1:</label>
        <div class="col-xs-10">
          <input type="text" class="form-control" formControlName="lngSlopeOfRiverAtHeadworksSite">
          <span *ngIf="!myGroup.get('lngSlopeOfRiverAtHeadworksSite').valid && myGroup.get('lngSlopeOfRiverAtHeadworksSite').touched" class="help-block">
            <span *ngIf="myGroup.get('lngSlopeOfRiverAtHeadworksSite').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('lngSlopeOfRiverAtHeadworksSite').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword" class="ml-2">(V:H)</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Flood Discharge: </label>
        <label for="inputPassword" class="col-sm-1 col-form-label">25 Years</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" formControlName="floodDischarge25">
          <span *ngIf="!myGroup.get('floodDischarge25').valid && myGroup.get('floodDischarge25').touched" class="help-block">
            <span *ngIf="myGroup.get('floodDischarge25').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('floodDischarge25').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword" class="ml-1">cumec</label>

        <label for="inputPassword" class="col-sm-1 col-form-label">50 Years</label>
        <div class="col-sm-2">
          <input type="number" class="form-control" formControlName="floodDischarge50" >
          <span *ngIf="!myGroup.get('floodDischarge50').valid && myGroup.get('floodDischarge50').touched" class="help-block">
            <span *ngIf="myGroup.get('floodDischarge50').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('floodDischarge50').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword" >cumec</label>

        <label for="inputPassword" class="col-sm-1 col-form-label">100 Years</label>
        <div class="col-sm-2" >
          <input type="number" class="form-control" formControlName="floodDischarge100">
          <span *ngIf="!myGroup.get('floodDischarge100').valid && myGroup.get('floodDischarge100').touched" class="help-block">
            <span *ngIf="myGroup.get('floodDischarge100').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('floodDischarge100').errors['required']">This field is required!</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Method of Flood Calculation:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputPassword" formControlName="methodOfFloodCalculation" >
          <span *ngIf="!myGroup.get('methodOfFloodCalculation').valid && myGroup.get('methodOfFloodCalculation').touched" class="help-block">
            <!-- <span *ngIf="myGroup.get('methodOfFloodCalculation').errors['pattern']">This is invalid! please enter number!</span> -->
            <span *ngIf="myGroup.get('methodOfFloodCalculation').errors['required']">This field is required!</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Name of River Source:</label>
        <div class="col-sm-5">
          <input type="text" class="form-control" id="inputPassword"  formControlName="nameOfRiverSource" >
          <span *ngIf="!myGroup.get('nameOfRiverSource').valid && myGroup.get('nameOfRiverSource').touched" class="help-block">
            <!-- <span *ngIf="myGroup.get('nameOfRiverSource').errors['pattern']">This is invalid! please enter number!</span> -->
            <span *ngIf="myGroup.get('nameOfRiverSource').errors['required']">This field is required!</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">River Width at Headworks site:</label>
        <div class="col-xs-10">
          <input type="number" class="form-control"  formControlName="riverWidthAtHeadworksSite" >
          <span *ngIf="!myGroup.get('riverWidthAtHeadworksSite').valid && myGroup.get('riverWidthAtHeadworksSite').touched" class="help-block">
            <span *ngIf="myGroup.get('riverWidthAtHeadworksSite').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('riverWidthAtHeadworksSite').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword" class="ml-2">m</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Average Annual Riverfall:</label>
        <div class="col-xs-10">
          <input type="number" class="form-control"   formControlName="averageAnnualRiverfall" >
          <span *ngIf="!myGroup.get('averageAnnualRiverfall').valid && myGroup.get('averageAnnualRiverfall').touched" class="help-block">
            <span *ngIf="myGroup.get('averageAnnualRiverfall').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('averageAnnualRiverfall').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">mm</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">MIP (2016) Hydrological Region:</label>
        <div class="col-sm-3">
          <select id="inputState" class="form-control">
            <option selected>-Select-</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>

      <!-- <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">River Basin:</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" id="inputPassword" formControlName="riverBasin" >
          <span *ngIf="!myGroup.get('riverBasin').valid && myGroup.get('riverBasin').touched" class="help-block">
            <!-- <span *ngIf="myGroup.get('riverBasin').errors['pattern']">This is invalid! please enter number!</span> -->
            <!-- <span *ngIf="myGroup.get('riverBasin').errors['required']">This field is required!</span>
          </span>
        </div>
      </div> --> -->
      <br>

      <h3>Main Canal</h3>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Canal Direction:</label>
        <div class="col-sm-2">
          <select id="inputState" class="form-control">
            <option selected>Right</option>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Total Length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"   formControlName="mTotalLength" >
          <span *ngIf="!myGroup.get('mTotalLength').valid && myGroup.get('mTotalLength').touched" class="help-block">
            <span *ngIf="myGroup.get('mTotalLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mTotalLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">Km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Lined type Canal Length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"   formControlName="mLinedTypeCanalLength" >
          <span *ngIf="!myGroup.get('mLinedTypeCanalLength').valid && myGroup.get('mLinedTypeCanalLength').touched" class="help-block">
            <span *ngIf="myGroup.get('mLinedTypeCanalLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mLinedTypeCanalLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">Km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Design Discharge:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"   formControlName="mDesignDischarge" >
          <span *ngIf="!myGroup.get('mDesignDischarge').valid && myGroup.get('mDesignDischarge').touched" class="help-block">
            <span *ngIf="myGroup.get('mDesignDischarge').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mDesignDischarge').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">lps</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Top Width:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"   formControlName="mTopWidth" >
          <span *ngIf="!myGroup.get('mTopWidth').valid && myGroup.get('mTopWidth').touched" class="help-block">
            <span *ngIf="myGroup.get('mTopWidth').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mTopWidth').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">m</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label ">Slide Slope:  1:</label>
        <div class="col-xs-10 ml-3">
          <input type="text" class="form-control" formControlName="mSlideSlope" >
          <span *ngIf="!myGroup.get('mSlideSlope').valid && myGroup.get('mSlideSlope').touched" class="help-block">
            <!-- <span *ngIf="myGroup.get('mSlideSlope').errors['pattern']">This is invalid! please enter number!</span> -->
            <span *ngIf="myGroup.get('mSlideSlope').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword" class="ml-2">(V:H)</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">No. of Branch Canal:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control" formControlName="mNumberOfBranchCanal" >
          <span *ngIf="!myGroup.get('mNumberOfBranchCanal').valid && myGroup.get('mNumberOfBranchCanal').touched" class="help-block">
            <span *ngIf="myGroup.get('mNumberOfBranchCanal').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mNumberOfBranchCanal').errors['required']">This field is required!</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Bottom Width:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control" formControlName="mBottomWidth" >
          <span *ngIf="!myGroup.get('mBottomWidth').valid && myGroup.get('mBottomWidth').touched" class="help-block">
            <span *ngIf="myGroup.get('mBottomWidth').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mBottomWidth').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">m</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Longitudinal Slope:  1:</label>
        <div class="col-xs-10 ml-3">
          <input type="text" class="form-control" formControlName="mLongitudinalSlope" >
          <span *ngIf="!myGroup.get('mLongitudinalSlope').valid && myGroup.get('mLongitudinalSlope').touched" class="help-block">
            <!-- <span *ngIf="myGroup.get('mLongitudinalSlope').errors['pattern']">This is invalid! please enter number!</span> -->
            <span *ngIf="myGroup.get('mLongitudinalSlope').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">(V:H)</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Branch Canal length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control" formControlName="mBranchCanalLength" >
          <span *ngIf="!myGroup.get('mBranchCanalLength').valid && myGroup.get('mBranchCanalLength').touched" class="help-block">
            <span *ngIf="myGroup.get('mBranchCanalLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mBranchCanalLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">Km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Unlined Type Canal length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control" formControlName="mUnlinedTypeCanalLength" >
          <span *ngIf="!myGroup.get('mUnlinedTypeCanalLength').valid && myGroup.get('mUnlinedTypeCanalLength').touched" class="help-block">
            <span *ngIf="myGroup.get('mUnlinedTypeCanalLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('mUnlinedTypeCanalLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">Km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Total Depth:</label>
        <div class="col-xs-10 ml-3">
         <input type="number" class="form-control" formControlName="mTotalDepth" >
         <span *ngIf="!myGroup.get('mTotalDepth').valid && myGroup.get('mTotalDepth').touched" class="help-block">
           <span *ngIf="myGroup.get('mTotalDepth').errors['pattern']">This is invalid! please enter number!</span>
           <span *ngIf="myGroup.get('mTotalDepth').errors['required']">This field is required!</span>
         </span>
        </div>
        <label for="inputPassword"  class="ml-2">m</label>
      </div>
      <br>
      <div class="card mb-3">
        <div class="card-header">Striped Rows</div>
        <div class="card-body table-responsive">
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th>Page</th>
                    <th>Visits</th>
                    <th>% New Visits</th>
                    <th>Revenue</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>/index.html</td>
                    <td>1265</td>
                    <td>32.3%</td>
                    <td>$321.33</td>
                </tr>
                <tr>
                    <td>/about.html</td>
                    <td>261</td>
                    <td>33.3%</td>
                    <td>$234.12</td>
                </tr>
                <tr>
                    <td>/sales.html</td>
                    <td>665</td>
                    <td>21.3%</td>
                    <td>$16.34</td>
                </tr>
                <tr>
                    <td>/blog.html</td>
                    <td>9516</td>
                    <td>89.3%</td>
                    <td>$1644.43</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
      <!-- <div class="row">
      <div class="col">Structure Type</div>
      <div class="col">No. of Structure</div>
      <div class="w-100"></div>
      <div class="col">*</div>
      <div class="col">col</div>
      </div> -->

      <br>
      <h3>Branch Canal</h3>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Name of Branch Canal:</label>
        <div class="col-sm-5 ">
         <input type="text" class="form-control" formControlName="bNameOfBranchCanal" >
         <span *ngIf="!myGroup.get('bNameOfBranchCanal').valid && myGroup.get('bNameOfBranchCanal').touched" class="help-block">
           <!-- <span *ngIf="myGroup.get('bNameOfBranchCanal').errors['pattern']">This is invalid! please enter number!</span> -->
           <span *ngIf="myGroup.get('bNameOfBranchCanal').errors['required']">This field is required!</span>
         </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">GCA:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bgca" >
          <span *ngIf="!myGroup.get('bgca').valid && myGroup.get('bgca').touched" class="help-block">
            <span *ngIf="myGroup.get('bgca').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bgca').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">ha</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">CCA:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bcca" >
          <span *ngIf="!myGroup.get('bcca').valid && myGroup.get('bcca').touched" class="help-block">
            <span *ngIf="myGroup.get('bcca').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bcca').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">ha</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Total Length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bTotallength" >
          <span *ngIf="!myGroup.get('bTotallength').valid && myGroup.get('bTotallength').touched" class="help-block">
            <span *ngIf="myGroup.get('bTotallength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bTotallength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Lined Type Canal Length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bLinedTypeCanalLength" >
          <span *ngIf="!myGroup.get('bLinedTypeCanalLength').valid && myGroup.get('bLinedTypeCanalLength').touched" class="help-block">
            <span *ngIf="myGroup.get('bLinedTypeCanalLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bLinedTypeCanalLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Unlined Type Canal Length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bUnlinedTypeCanalLength" >
          <span *ngIf="!myGroup.get('bUnlinedTypeCanalLength').valid && myGroup.get('bUnlinedTypeCanalLength').touched" class="help-block">
            <span *ngIf="myGroup.get('bUnlinedTypeCanalLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bUnlinedTypeCanalLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Design Discharge:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bDesignDischarge" >
          <span *ngIf="!myGroup.get('bDesignDischarge').valid && myGroup.get('bDesignDischarge').touched" class="help-block">
            <span *ngIf="myGroup.get('bDesignDischarge').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bDesignDischarge').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">cumec</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Tertiary:</label>
        <div class="col-xs-10 ml-3">
          <input type="text" class="form-control"  formControlName="btertiary" >
          <span *ngIf="!myGroup.get('btertiary').valid && myGroup.get('btertiary').touched" class="help-block">
            <!-- <span *ngIf="myGroup.get('btertiary').errors['pattern']">This is invalid! please enter number!</span> -->
            <span *ngIf="myGroup.get('btertiary').errors['required']">This field is required!</span>
          </span>
        </div>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Sub Branch Length:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bSubBranchLength" >
          <span *ngIf="!myGroup.get('bSubBranchLength').valid && myGroup.get('bSubBranchLength').touched" class="help-block">
            <span *ngIf="myGroup.get('bSubBranchLength').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bSubBranchLength').errors['required']">This field is required!</span>
          </span>
        </div>
        <label for="inputPassword"  class="ml-2">km</label>
      </div>

      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Canal Structure:</label>
        <div class="col-xs-10 ml-3">
          <input type="number" class="form-control"  formControlName="bCanalStructure" >
          <span *ngIf="!myGroup.get('bCanalStructure').valid && myGroup.get('bCanalStructure').touched" class="help-block">
            <span *ngIf="myGroup.get('bCanalStructure').errors['pattern']">This is invalid! please enter number!</span>
            <span *ngIf="myGroup.get('bCanalStructure').errors['required']">This field is required!</span>
          </span>
        </div>
      </div>

      <div>
        <button class="btn btn-default ml-2 mr-5" type="submit" >Submit</button>
        <button class="btn btn-default mr-2" type="button" (click)="onSaveData()" >Save</button>
      </div>
    </form>


    <br>


    <div class="row">
    <div class="col">Name</div>
    <div class="col">GCA(ha)</div>
    <div class="col">CCA(ha)</div>
    <div class="col">Total Length</div>
    <div class="col">Lined Length</div>
    <div class="col">Unlined Length</div>
    <div class="col">Design Discharge</div>
    <div class="col">Sub-Branch No</div>
    <div class="col">Sub-Branch Length</div>
    <div class="col">Canal Structure</div>
    <div class="w-100"></div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    </div>
    <br>


    <div>
      <button class="btn btn-default ml-2 mr-4" type="button" >Save</button>
      <button class="btn btn-default mr-4" type="button" >Reset</button>
      <button class="btn btn-default mr-4" type="button" >Cancel</button>
    </div>

      <br>
  </div>
</div>
